<!DOCTYPE html>
<html lang="en">
<head>
  <title>Poll App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vast+Shadow&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b448d7d57d.js" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</head>
<body>
  <div class="nav-container">
    <nav class="navbar navbar-default">
      <h1 class="logo"><a href="/">Poll App</a></h1>
      <div class="button button-desktop">
        <a href="/new"><button class="create-poll" type="submit">
            Create your own Poll<span class="fas fa-arrow-right"></span></button></a>
      </div>
    </nav>
  </div>
  <div class="wrapper mobile-wrapper">
	<h2 class="pick-question mobile-pick-question">
      Pick a Question from below and start a Poll
    </h2>
    <div>
      <form>
        <label class="poll-question" for="search-bar">Search for a poll here...</label>
        <input type="text" id="search-bar"><br>
        <button class="copy-button" type="submit" id="search-for">Search</button>
      </form>
    </div>
  	<div class="body-container body-container-desktop">
    <div class="questions" >
      	<ul id="questions">
      	</ul>
    </div>
  </div>
</body>
</html>

