<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="stylesheets/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b448d7d57d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Vast+Shadow&display=swap"rel="stylesheet"/>
    <title>New Poll</title>
  </head>
  <body>
    <div class="nav-container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <h1 class="logo"><a href="/">Poll App</a></h1>
          </div>
          <div class="button button-desktop">
            <a href="/new"><button class = "create-poll" type="submit">Create your own Poll<span class="fas fa-arrow-right"></span></button></a>
          </div>
        </nav>
    </div>
    <div class="wrapper mobile-wrapper">
      <h2 class="poll mobile-poll">
        Poll
      </h2>
      <div class="form-container mobile-form-container">
        <form class="poll-question" method="POST">
          <label for="add-question">Add a Question</label>
          <input type="text" placeholder="Type your question" name="type-question" id="question-text" />
        </form>
      </div>
      <div class="form-container mobile-form-container">
        <form class="poll-answers" method="POST" action = "/new">
          <label for="add-answer">Add an Answer</label>
          <input type="text" placeholder="Type your answer" name="type-answer" class="answer-text" />
          <input type="text" placeholder="Type your answer" name="type-answer" class="answer-text" />
          <button class = "add" id = "add" type="submit">Add answer<span class= "fas fa-plus-circle"></span></button>
        </form>
      </div>
      <div class="add-members mobile-add-members">
        <button class = "copy-button" onclick="">Invite members to vote<span class= "fas fa-plus-circle"></span></button>
      </div>
      <div class="add-poll mobile-add-poll poll-button ">
        <a href="/questions"><button id = "poll-button" type="submit">Create Poll<span class= "fas fa-arrow-right"></span></button></a>
      </div>
    </div>
  </body>
  <script src="js/new.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
