* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

  html {
    width: 100vw;
    height: 100vh;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
  }
  

  /* Nav */
  .nav-container {
    width: 85%;
    top:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    background-color: rgb(109, 2, 68);
  }
  
  .logo{
    display: block;
  }
  
  .logo a{
    text-decoration: none;
    display: block;
    color: white;
  } 

  .navbar {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
  }

  .create-poll {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: white;
    background:rgb(165, 0, 102);
    padding: 0.5em;
    cursor: pointer;
  }

  
  .create-poll:hover {
    background-image:rgb(0, 110, 0);
    color: white;
    text-decoration: none;
  }

  .button:hover a {
    background: rgb(0, 110, 0);
  }

  .fas {
    margin-left: 0.5em;
  }



/* Container questions */

  .mobile-wrapper {
    background: rgb(221, 221, 221);
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
  }

  .body-container {
    height: 450px;
    margin: 0 auto;
    border: 1px solid rgb(109, 2, 68);
    background: rgb(240, 240, 240);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
    -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
    overflow: auto;
  }

  #search-bar {
    background: rgb(231, 230, 230);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
    -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  #search-for {
    margin-bottom: 1em;
  }

  #search-for:hover {
    background: rgb(0, 110, 0);
  }

  .mobile-pick-question {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: grey;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 15px;
  }

  .link-question {
    box-sizing: border-box;
    list-style-type:none;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgb(109, 2, 68);
    cursor: pointer;
    text-decoration: none;
    margin: 0.5em;
  }

  .link-question li {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .link-question  a {
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
  }

  .li a:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }


/* New page-Ask question and create Poll */

  .mobile-poll {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    padding-top: 1em;
  }

  .mobile-form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: auto;
  }

  #question-text {
    background: rgb(231, 230, 230);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
  -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  .answer-text {
    background: rgb(231, 230, 230);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
  -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  .poll-question {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    
  }
  input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    font-size: 1em;
    border: 1px solid rgb(109, 2, 68);
  }

  #question-text {
    margin-bottom: 1.5em;
  }

  .mobile-add-answer {
    border: none;
    text-decoration: none;
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .add {
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    background:rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
    margin-top: 1em;
    }

  .mobile-add-poll {
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  #poll-button {
    display: flex;
    justify-content: flex-end;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    background:rgb(109, 2, 68) ;
    color: white;
    padding:0.5em;
  }

  #poll-button a {
    text-decoration: none;
  }

  #poll-button a:hover {
    text-decoration: none;
  }


/* Favorite Question Page */

  .body-questions {
    width: 85%;
    margin: 0 auto;
  }

  .mobile-favorite-question {
    display: block;
    background:rgb(109, 2, 68);
    margin-top: 2em;
  }

  .mobile-picked-question {
    color: white;
    text-align: center;
    padding: 1em;
  }

  .mobile-favorite-answer {
    border: 1px solid rgb(109, 2, 68) ;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .vote-answer {
    border: none;
    background:rgb(0, 110, 0) ;
    width: 25%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }

  .vote-answer:hover {
    background:rgb(59, 0, 37) ;
  }

  .mobile-picked-answer {
    color: rgb(102, 101, 101);
    text-align: center;
    padding: 0.5em;
    width: 50%;
  }

  .mobile-add-members {
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .copy-button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    background: rgb(109, 2, 68);
    color: white;
    border: none;
    margin-top: 1em;
    padding:0.5em;
  }

  .copy-button:hover {
    background: rgb(80, 0, 49);
  }

  .mobile-votes {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .votes-button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    background: rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
  }


}

@media only screen and (min-width: 600px) {

  html {
    width: 100vw;
    height: 100vh;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
  }

 
  /* Nav */
  .nav-container {
    width: 75%;
    top:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: rgb(109, 2, 68);
  }

  .logo{
    display: block;
  }
  
  .logo a{
    text-decoration: none;
    display: block;
    color: white;
  } 
  
  .navbar {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
  }

  .create-poll {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: white;
    background: rgb(175, 0, 108);
    padding: 0.5em;
    margin-right: 1em;
    cursor: pointer;
  }

  .create-poll:hover {
    background:rgb(0, 110, 0) ;
    color: white;
    text-decoration: none;
  }

  .create-poll:hover a {
    text-decoration: none;
    color: white;
  }

  .fas {
    margin-left: 0.5em;
  }


/* Body */

  .wrapper {
    background: rgb(230, 230, 230);
    width: 75%;
    margin: 0 auto;
    padding: 2em;
  }

  .body-container-desktop {
    margin: 0 auto;
    border: 1px solid rgb(109, 2, 68);
    background: rgb(240, 240, 240);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
    -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  #search-bar {
    background: rgb(240, 240, 240);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
    -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  #search-for {
    margin-bottom: 2em;
  }

  .pick-question {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: grey;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 20px;
  }

  .link-question {
    box-sizing: border-box;
    list-style-type:none;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgb(109, 2, 68);
    cursor: pointer;
    text-decoration: none;
    margin: 0.5em;
  }

  .link-question li {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .link-question  a {
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .li a:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }


  /* New Page */

  .poll {
    text-align: center;
    padding: 1.5em;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: auto;
  }
  
  #question-text {
    background: rgb(240, 240, 240);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
   -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  .answer-text {
    background: rgb(240, 240, 240);
    -moz-box-shadow: inset 0 0 10px #6b6b6b;
   -webkit-box-shadow: inset 0 0 10px #6b6b6b;
    box-shadow: inset 0 0 10px #6b6b6b;
  }

  #add {
    margin-top: 1em;
  }

  .answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
  }

  .poll-question {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
  }

  .add-question {
    padding: 2em;
    font-size: 25px;
  }

  #question-text {
    width: 100%;
    height: 20%;
    padding: 1em;
  }

  #poll-button {
    display: flex;
    justify-content: flex-end;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    background:rgb(109, 2, 68) ;
    color: white;
    padding: 0.5em;
  }

  #poll-button a {
    text-decoration: none;
  }
  
  #poll-button:hover {
    background: rgb(0, 110, 0);
  }

  input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    font-size: 1em;
    border: 1px solid rgb(109, 2, 68);
  }

  .add-answer {
    border: none;
    text-decoration: none;
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .add {
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    background:rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
  }

  .add:hover {
    background: rgb(0, 110, 0);
  }
  
  .add-poll {
    border: none;
    text-decoration: none;
    padding: 0.5em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .copy-button {
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    background:rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
}
  
  

  /* Question Page */

  .body-questions-page {
    width: 65%;
    margin: 0 auto;
  }

  .favorite-question {
    display: block;
    background:rgb(109, 2, 68);
    color: white;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    margin: 0 auto;
  }

  .favorite-answer {
    display: block;
    border: 1px solid rgb(109, 2, 68);
    color: rgb(117, 116, 116);
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .vote-answer {
    border: none;
    background:rgb(0, 110, 0) ;
    width: 25%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }

  .vote-answer:hover {
    background:rgb(59, 0, 37) ;
  }

  .picked-answer {
    color: rgb(102, 101, 101);
    padding: 0.5em;
    width: 50%;
  }

  .add-members {
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .votes {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  
  .votes-button {
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    background: rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
  }

  .votes-button:hover {
    background: rgb(0, 110, 0);
  } 

  .copy-button {
    font-size: 15px;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 15px;
    background: rgb(109, 2, 68);
    color: white;
    border: none;
    padding:0.5em;
  }

  .copy-button:hover {
    background: rgb(0, 110, 0);
  }

}