* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

  html {
    width: 100vw;
    height: 100vh;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
  }
  

  /* Nav */
  .nav-container {
    width: 75%;
    top:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    background-color: rgb(109, 2, 68);
  }
  
  .logo{
    color: white;
    display: block;
  }
  
  .logo a{
    text-decoration: none;
    display: block;
    color: white;
  } 

  
  .navbar {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  }

  .create-poll {
    font-family: Arial, Helvetica, sans-serif;;
    background:  rgb(109, 2, 68);
    border: none;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(109, 2, 68),rgb(189, 6, 119),rgb(109, 2, 68));
    padding: 0.5em;
    margin-right: 1em;
    cursor: pointer;
  }

  
  .create-poll:hover {
    background-image: linear-gradient(rgb(83, 0, 53),rgb(165, 0, 102),rgb(83, 0, 53));
    color: white;
    text-decoration: none;
  }

  .button:hover a {
    background-image: linear-gradient(rgb(68, 0, 42),rgb(209, 4, 130),rgb(68, 0, 42));
  }

  .fas {
    margin-left: 0.5em;
  }



/* Container questions */


.body-container {
  width: 75%;
  height: 450px;
  margin: 0 auto;
  border: 1px solid rgb(109, 2, 68);
  background: rgb(231, 230, 230);
  -moz-box-shadow: inset 0 0 10px #161616;
 -webkit-box-shadow: inset 0 0 10px #161616;
  box-shadow: inset 0 0 10px #161616;
  overflow: auto;
}

.mobile-pick-question {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: grey;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 15px;
}

  .link-question {
    box-sizing: border-box;
    list-style-type:none;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgb(109, 2, 68);
    cursor: pointer;
    text-decoration: none;
    margin: 0.5em;
  }

  .link-question li {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .link-question  a {
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
  }

  .li a:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }

/* New page-Ask question and create Poll */
.mobile-poll {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mobile-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  height: auto;
}

.poll-question {
  display: flex;
  flex-direction: column;
  
}
  input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    font-size: 1em;
    border: 1px solid rgb(109, 2, 68);
  }

  #question-text {
    margin-bottom: 1.5em;
  }

  .mobile-add-answer {
    border: none;
    text-decoration: none;
    padding: 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .add {
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(rgb(109, 2, 68),rgb(189, 6, 119),rgb(109, 2, 68));
    color: white;
    border: none;
    padding:0.5em;
    }

  .mobile-add-poll {
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .poll-button {
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(rgb(109, 2, 68),rgb(189, 6, 119),rgb(109, 2, 68));
    color: white;
    border: none;
    padding:0.5em;

  }
/* Favorite Question Page */

.body-questions {
  width: 75%;
  margin: 0 auto;
  
}

  .mobile-favorite-question {
    display: block;
    background:rgb(109, 2, 68);
    margin-top: 2em;
  }

  .mobile-picked-question {
    color: white;
    text-align: center;
    padding: 1em;
  }

  .mobile-favorite-answer {
    width: 50%;
    background:rgb(109, 2, 68) ;
    margin-top: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    
  }

  .mobile-picked-answer {
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
  }

}

@media only screen and (min-width: 600px) {

  html {
    width: 100vw;
    height: 100vh;
  }

  
  /* Nav */
  .nav-container {
    width: 75%;
    top:0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: rgb(109, 2, 68);
  }
  
  .navbar {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  }

  .create-poll {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(68, 0, 42),rgb(209, 4, 130),rgb(68, 0, 42));
    padding: 0.5em;
    margin-right: 1em;
    cursor: pointer;
  }

  .create-poll:hover {
    background-image: linear-gradient(rgb(20, 0, 13),rgb(92, 0, 57),rgb(20, 0, 13));
    color: white;
    text-decoration: none;
  }

  .create-poll:hover a {
    text-decoration: none;
     color: white;
  }

  .fas {
    margin-left: 0.5em;
  }


  .body-container-desktop {
    width: 75%;
    margin: 0 auto;
    border: 1px solid rgb(109, 2, 68);
    background: rgb(231, 230, 230);
    -moz-box-shadow: inset 0 0 10px #161616;
   -webkit-box-shadow: inset 0 0 10px #161616;
    box-shadow: inset 0 0 10px #161616;

  }

  .pick-question {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: grey;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 20px;
  }

  .link-question {
    box-sizing: border-box;
    list-style-type:none;
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgb(109, 2, 68);
    cursor: pointer;
    text-decoration: none;
    margin: 0.5em;
  }

  .link-question li {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .link-question  a {
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .li a:hover {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }

}